class OpenRender < Formula
  desc "RenderMan-compliant photorealistic renderer"
  homepage "https://github.com/TEMPLATE_REPO_OWNER/openrender"
  license "LGPL-2.1-only"

  on_macos do
    if Hardware::CPU.intel?
      url "https://github.com/TEMPLATE_REPO_OWNER/openrender/releases/download/vTEMPLATE_VERSION/openrender-macos-fhs-x86_64-TEMPLATE_VERSION.tar.gz"
      sha256 "TEMPLATE_SHA256_MACOS_X86_64"
    else
      url "https://github.com/TEMPLATE_REPO_OWNER/openrender/releases/download/vTEMPLATE_VERSION/openrender-macos-fhs-arm64-TEMPLATE_VERSION.tar.gz"
      sha256 "TEMPLATE_SHA256_MACOS_ARM64"
    end
  end

  on_linux do
    if Hardware::CPU.intel?
      url "https://github.com/TEMPLATE_REPO_OWNER/openrender/releases/download/vTEMPLATE_VERSION/openrender-linux-fhs-x86_64-TEMPLATE_VERSION.tar.gz"
      sha256 "TEMPLATE_SHA256_LINUX_X86_64"
    end
  end

  # Dependencies required at runtime by pre-compiled binaries
  depends_on "libtiff"
  depends_on "libpng"
  depends_on "zlib"
  depends_on "openexr"
  depends_on "fltk"

  def install
    # Copy pre-compiled FHS directories directly to Homebrew Cellar prefix
    prefix.install Dir["*"]
  end

  test do
    # Verify executables work
    system "#{bin}/orender", "--help"
    system "#{bin}/oshader", "--version"
    system "#{bin}/otexmake", "--help"
    system "#{bin}/rsloinfo", "--version"

    # Verify core shared libraries exist
    if OS.mac?
      assert_predicate lib/"libri.dylib", :exist?
      assert_predicate lib/"librslo.dylib", :exist?
    else
      assert_predicate lib/"libri.so", :exist?
      assert_predicate lib/"librslo.so", :exist?
    end
  end
end
