<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>org.openrender.orender-fb-macos</string>
    <key>CFBundleExecutable</key>
    <string>openRender</string>
    <key>CFBundleName</key>
    <string>openRender</string>
    <key>CFBundleDisplayName</key>
    <string>openRender</string>
    <key>NSHumanReadableCopyright</key>
    <string>© 2025–2026 Juvenal A. Silva Jr. All rights reserved.</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSUIElement</key>
    <false/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSApplicationSupportsSecureRestorableState</key>
    <true/>
</dict>
</plist>
